@import url("https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.input-label {
  margin-right: 8px;
}

.input-field {
  appearance: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: center;
  width: 50px;
  font-size: 1.2rem;
  margin: 0 4px;
}

.input-field:focus {
  outline: none;
}

.button-group {
  display: flex;
  gap: 8px;
}

.hidden {
  display: none;
}
